
<fieldset ng-controller="editController">
  <legend>Teams</legend>
  <div class="row">
    <div class="well col-sm-10 col-sm-offset-1 well-margin" style="margin-top: 10px">
      <form>
        <label for="teamName">Team name:</label>
        <input type="text" ng-model="teamName" id="teamName">
        <input type="submit" value="Add new team" ng-click="createTeam()" >
      </form>
    </div>

    <div class="well col-sm-10 col-sm-offset-1 well-margin" style="margin-top: 10px">
      <!-- user table -->
      <!-- End user table -->
      <div class="table-responsive">
        <table class="table table-striped table-hover table-condensed">
          <thead>
          <tr>
            <th width="30%" ng-click="sortUser('teamName')">Team Name^</th>
            <th >Actions</th>
          </tr>
          </thead>
        </table>

        <div class="bodycontainer scrollable">
          <table id="user" class="table table-bordered table-hover table-striped table-condensed table-scrollable">
            <tbody  ng-repeat="u in team | orderBy: sortField">
            <tr>
              <td>{{ u.teamName }} </td>
              <td>
                <input type="submit" value="Remove team"  ng-click="deleteTeam(u.teamName)">
              </td>
            </tr>
            </tbody>

          </table>
        </div>
      </div> <!-- End user table -->
    </div> <!-- End class column -->
  </div> <!-- End class row -->
</fieldset>
